.header {
  display: flex;
}

.header-sidebar {
  flex: 1;
  width: 100px;
  height: 175px;
  align-content: center;
  margin: 40px 50px 0 50px;
  text-align: center;
  background: rgb(38, 30, 26, 0.7);
  border: 2px solid #3c3c3d;
}

.header-sidebar h3 {
  margin: 10px 0 0 0;
}

.header-sidebar p {
  padding: 10px 10px;
  margin: 0;
  font-size: 0.9em;
}

.sidebar1 {
  margin-left: 165px;
}

.sidebar2 {
  margin-right: 165px;
}

.board-content {
  margin: 30px auto;
  width: 80%;
  max-width: 1500px;
  display: flex;
}

.dice-container {
  flex: 1;
  width: 200px;
  height: 445px;
  background: beige;
  margin: 0 15px 15px 15px;
  box-shadow: 5px 5px 40px 10px rgb(0, 0, 0);
  border: 2px solid #3c3c3d;
}

.board-container {
  flex: 5;
  display: grid;
  grid-template: repeat(5, 90px) / repeat(7, 90px);
  justify-content: center;
}

.board-field {
  border: 2px solid #3c3c3d;
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: white;
  background-color: black;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-shield {
  width: 90px;
  height: auto;
}

.player-h3 {
  margin: 0;
}

.player1,
.player2 {
  padding-top: 10px;
}

.trap1 {
  text-align: center;
  background-image: url(/images/red.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.trap2 {
  text-align: center;
  background-image: url(/images/trap2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.trap3 {
  text-align: center;
  background-image: url(/images/trap3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.trap4 {
  text-align: center;
  background-image: url(/images/trap4.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.trap5 {
  text-align: center;
  background-image: url(/images/trap5.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
}
