.board-content {
  margin: 50px auto;
  width: 80%;
  max-width: 1500px;
  display: flex;
}

.dice-container {
  flex: 1;
  width: 150px;
  height: 275px;
  background: beige;
  margin: 0 20px 20px 20px;
  box-shadow: 5px 5px 40px 10px rgb(0, 0, 0);
  border: 2px solid #3c3c3d;
}

.board-container {
  flex: 5;
  display: grid;
  grid-template: repeat(5, 90px) / repeat(7, 90px);
  justify-content: center;
}

.board-field {
  border: 2px solid #3c3c3d;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  background-color: black;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1,
.player2 {
  padding-top: 10px;
}
