.dice {
  margin: 15px 30px;
  width: 80px;
  height: auto;
}

.dice-button {
  background: linear-gradient(
    0deg,
    rgba(231, 139, 0, 1) 20%,
    rgb(247, 173, 62) 100%
  );
  border: 1px solid rgba(0, 0, 0);
  color: black;
  border-radius: 7px;
  margin: 5px 20px 20px 20px;
  padding: 5px 10px;
  font-size: 15px;
}

.dice-button:hover {
  background: rgb(255, 153, 0);
  color: rgb(255, 255, 255);
}

.dice-button:disabled {
  background: rgb(202, 200, 200);
}

.swap-turn {
  margin-top: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(32, 151, 3);
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
}
