body {
  text-align: center;
  background-color: rgb(18, 19, 17);
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: rgb(231, 139, 0);
}

.content {
  width: 70%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select-button {
  background-color: beige;
  color: rgb(231, 139, 0);
  border: 1px solid rgb(231, 139, 0);
  border-radius: 7px;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
}

.select-button:hover {
  background-color: rgb(231, 139, 0);
  color: black;
}
