.player-container {
  width: 150px;
  height: 275px;
  background: beige;
  margin: 20px;
  box-shadow: 5px 5px 40px 10px rgb(0, 0, 0);
}

.player-container:hover {
  transform: scale(1.1);
}

h3 {
  padding: 0.5em;
}

.player-info {
  height: 275px;
  display: flex;
  flex-direction: column;
}

.info-1 {
  flex: 1;
  align-items: center;
}

.info-2 {
  flex: 2;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.player-selected {
  border: 5px solid red;
}
