body {
  text-align: center;
  background-color: rgb(44, 46, 39);
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: rgb(243, 161, 39);
}

.content {
  width: 70%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  margin: 0;
}
