.rotate-star {
  width: 570px;
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.winner-h1 {
  margin: 25px 0 0 0;
}

.winner-h2 {
  color: rgb(17, 16, 15);
}

.winner-shield {
  height: 130px;
  width: auto;
}

.winner-info {
  height: 1px;
  position: relative;
  z-index: 2;
  animation: mymove 2s;
  animation-fill-mode: forwards;
  margin: 0;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 190px;
  }
}

.result-button {
  background: linear-gradient(
    0deg,
    rgba(231, 139, 0, 1) 20%,
    rgb(247, 173, 62) 100%
  );
  border: 1px solid rgba(0, 0, 0);
  color: black;
  border-radius: 7px;
  margin: 5px 20px 20px 20px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.result-button:hover {
  background: rgb(255, 153, 0);
  color: rgb(255, 255, 255);
}
