.rotate-star {
  width: 570px;
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.winner-h1 {
  margin: 25px 0 0 0;
}

.winner-h2 {
  color: rgb(17, 16, 15);
}

.winner-shield {
  height: 130px;
  width: auto;
}

.winner-info {
  height: 1px;
  position: relative;
  z-index: 2;
  animation: mymove 3s;
  animation-fill-mode: forwards;
  margin: 0;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 180px;
  }
}
